<div class="ui fluid container segment" id="spacing">
  <div class="ui grid">
    <div class="row">
      <div class="one wide column">
      </div>
      <div class="three wide column" align="center">
        <img
          src={{url}}
          alt={{producto.nombre}} height="100">
      </div>
      <div class="four wide column">
        <h2>{{producto.nombre}}</h2>
        <p>{{producto.distribuidor}}</p>
        <p>Bodega {{bodega}}</p>
      </div>
      <div class="three wide column">
        <div class="ui hidden divider"></div>
        <p>{{cantidad}}</p>
      </div>
      <div align="center" class="four wide column">
        <br>
        <h3>{{producto.precio}}</h3>
      </div>
    </div>
  </div>
</div>