<!-- <p>
  route-acquisition-orders works!
</p> -->
<div class="ui fluid container" id="spacing">
  <div class="ui fluid container">
    <div class="ui secondary menu">
      <a class="item">
        <button class="ui blue button" [routerLink]="['/homeAdmin','newOrder']">Nuevo Pedido</button>
      </a>
      <div class="right menu">
        <a class="item">
          <div class="ui search">
            <div class="ui icon input">
              <input id="myInput" class="prompt" type="text">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="ui fluid container segment" id="spacing">
    <app-sale *ngFor="let order of orders"
      [order]="order"
      [index]="ordersAux.indexOf(order)"></app-sale>
  </div>
</div>