<div class="ui raised very padded text fluid container segment" id="spacing">
  <h1 class="ui header">Nueva Bodega</h1>
  <form class="ui large form"
      #formularioUsuario = "ngForm"
      validate
  >
    <h3 class="ui header">Direccion</h3>
    <div class="ui input" id="complete_wide">
      <input #direccionW type="text" id="direccion" name="direccion" required [(ngModel)]="direccion">
    </div>
    <div *ngIf="direccionW.touched && direccionW.invalid" class="ui red message" role="alert">
      Ingrese una Direccion
  </div>
    <div class="ui two column grid" id="spacing">
      <div class="column" align="center">
        <button class="ui red button" [routerLink]="['/homeAdmin','warehouse']">Cancelar</button>
      </div>
      <div class="column" align="center">
        <button class="ui green button" [disabled]="formularioUsuario.invalid" (click)="save()">Guardar</button>
      </div>
    </div>
  </form>
</div>